# .env file
 
# user for test (leave empty as test data overides in each test)
USERNAME=''
PASSWORD=''
 
# active test url (leave empty as test data overides in each test)
TEST_URL=''
 
# valid user options
AUTHOR_USERNAME=''
AUTHOR_PASSWORD=''
SUPERVISOR_USERNAME=''
SUPERVISOR_PASSWORD=''
STATS_AUTHOR_USERNAME=''
STATS_AUTHOR_PASSWORD=''
STATS_AUTHOR_ALT_USERNAME=''
STATS_AUTHOR_ALT_PASSWORD=''
STATS_SUPERVISOR_USERNAME=''
STATS_SUPERVISOR_PASSWORD=''
STATS_SUPERVISOR_ALT_USERNAME=''
STATS_SUPERVISOR_ALT_PASSWORD=''
TOPICSUPERVISOR_USERNAME=''
TOPICSUPERVISOR_PASSWORD=''
HOMEPAGE_SUPERVISOR_USERNAME=''
HOMEPAGE_SUPERVISOR_PASSWORD=''
 
# valid test urls
FINANCE_URL=''
COMMUNITIES_URL=''
DAERA_URL=''
ECONOMY_URL=''
EDUCATION_URL=''
EXECUTIVE_OFFICE_URL=''
HEALTH_URL=''
DFI_URL=''
NIGOV_URL=''
JUSTICE_URL=''


